@* @model Final.Models.PaymentResponseModel *@

@* <div class="container mt-5"> *@
@*     <h2 class="text-center">Kết quả thanh toán</h2> *@

@*     <table class="table"> *@
@*         <tr> *@
@*             <th>Đơn hàng ID</th> *@
@*             <td>@Model.OrderId</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <th>Số tiền</th> *@
@*             <td>@Model.Amount</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <th>Mã phản hồi</th> *@
@*             <td>@Model.ResponseCode</td> *@
@*         </tr> *@
@*     </table> *@
@* </div> *@