@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<h2>Xác nhận yêu cầu quên mật khẩu</h2>
<p>Một email chứa hướng dẫn đặt lại mật khẩu đã được gửi đến địa chỉ email của bạn. Vui lòng kiểm tra hộp thư của bạn.</p>

<a href="@Url.Action("Login", "Home")">Quay lại trang đăng nhập</a>